@import url('https://fonts.googleapis.com/css2?family=Asap&family=DM+Sans:wght@400;500&display=swap');
html{
  height:100%;
}

body{
  display: flex;
  flex-direction: column;
  margin: 0;
  position: absolute;
  height: 100%;
}

.header{
  background: black;
  margin-bottom: 0;
  position: relative;
  padding-bottom: 5vh;
}

.header > .logo{
  transition: 1s;
}

.header > .anthony{
  height: 80%;
  width: auto;
  position: absolute;
  bottom:0;
  right:25vw;
  transition: 1s;
}

.header > .anthony1{
  height: 40%;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  transition: 1s;
  display: block;
}

.header > nav{
  text-decoration: none;
}

.header > nav > a {
  font-family: 'Asap', sans-serif;
  color: white;
  background: black;
  padding-left: 0.5vw;
  padding-right:0.5vw;
  text-decoration: none;
  transition: 0.4s;
}

.header > nav > a:hover{
  color: black;
  background: white;
  transition: 0.7s;
}

.header > h1{
  font-family: 'Asap', sans-serif;
  font-weight: 500;
  font-size: 3vw;
  color: white;
  margin-top: 1vw;
  margin-bottom: 1vw;
  transition: 0.4s;
}

.header > p{
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  font-size: 2vw;
  color: white;
  margin-top: 1vw;
  margin-bottom: 1vw;
  transition: 0.7s;
}

.header > .portfolio{
  width:5%;
  transition: 1s;
}

.header > .portfolio > a{
  font-family: 'Asap', sans-serif;
  font-size: 2vw;
  color: black;
  background: white;
  border: 0.25vw;
  text-decoration: none;
  margin-bottom: 4vh;
  transition: 0.4s;
  padding: 0.25vw;
}

.header > .portfolio >a:hover{
    color:white;
    background:gray;
    transition: 0.4s;
    border: 0.25vw;
}

.about{
  position: relative;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.about > h1{
  font-family: 'Asap', sans-serif;
  padding-left: 15vw;
  transition: 0.4s;
  font-size: 2vw;
}

.about > hr{
  transition: 0.4s;
}

.about > p{
  font-family: 'Asap', sans-serif;
  padding-left: 15vw;
  width: 35%;
  font-size: 1vw;
  transition: 0.7s;
}

.about > .aboutMe{
  padding-left: 15vw;
  transition: 1s;
  padding-top: 1.25vh;
  padding-bottom: 1.25vh;
}

.about > .aboutMe > a{
  font-family: 'Asap', sans-serif;
  font-size: 2vw;
  color: white;
  background: black;
  border: 0.25vw;
  text-decoration: none;
  margin-bottom: 4vh;
  padding: 0.25vw;
  padding-bottom: 0.5vh;
  transition: 1s;

}

.about > .aboutMe >a:hover{
    color:white;
    background:gray;
    transition: 0.4s;
    border: 0.25vw;
}


.about > .egg{
  height: 100%;
  width: auto;
  position: absolute;
  bottom: 0;
  right: 25vw;
  transition: 1s;
  box-shadow: 5px 3px 5px 0px black;
}

.footer{
  background: black;
  width: 100%;
}

.footer> p{
  color: white;
  font-family: 'Asap', sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 1.35vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  transition: 0.4s;
}

.footer > p > a{
  color: cyan;
  text-decoration: none;
}

.footer > p > a:hover{
  background:#666;
  transition: 0.4s;
  border: 0.25vw;
}

/* These two @media tags are for responsive elements, and adjust based on screen width. In particular I wanted to make the font super big so that mobile user could reliably use my website. */
@media (max-width: 480px) {

  body{
    padding: 0;
  }

  .logo{
    height: 14vw;
    width: 14vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .header > nav{
    text-align: center;
    display: inline-block;
    padding-left: 3%;
    padding-top: 2vw;
  }

  .header > nav > a{
    font-size: 6vw;
  }

  .header > h1 {
    text-align: center;
    font-size: 5vw;
    padding-top: 2.5vh;
  }

  .header > p{
    text-align: center;
    font-size: 4vw;
    padding-top: 1vw;
  }

  .header > .portfolio{
    width:16%;
    margin-left: auto;
    margin-right: auto;
    transition: 1s;
  }

  .header > .portfolio > a{
    font-size: 4vw;
  }

  .about{
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center;
  }

  .about > p{
    text-align: center;
    font-family: 'Asap', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 3.5vw;
    transition: 0.7s;
    padding-left: 0;
  }

  .about > .aboutMe{
    padding-left: 0;
    margin: auto;
  }

  .about > .aboutMe > a{
    font-size: 7vw;
  }

  .about > h1{
    padding-left: 0;
    font-size: 7vw;
  }

  .about > .egg{
    display:none;
  }

  .anthony{
    display: none;
  }

  .footer > p{
    font-size: 3.5vw;
  }

}


@media (min-width: 481px) {

  .header{
    padding-bottom: 20vh;
  }

  .header > .logo{
    height: 8vw;
    width: 8vw;
    padding-left:1vw;
  }

  .header > nav {
    float: right;
    text-decoration: none;
    padding-top: 4.5vh;
    padding-right: 1vw;
    font-size: 2vw;
  }
  .header > h1 {
    padding-left: 15vw;
  }

  .header > p{
    font-size: 2vw;
    padding-left: 15vw;
  }

  .header > .portfolio{
    width:5%;
    padding-left: 15vw;
  }
  .header > .anthony1{
    display: none;
  }
}
