@import url('https://fonts.googleapis.com/css2?family=Asap&family=DM+Sans:wght@400;500&display=swap');

body{
  display: flex;
  flex-flow: column;
  margin: 0;
  position: relative;
}

.header{
  background: black;
  margin-bottom: 0;
  position: relative;
  height: 25%;
}

.header > .logo{
  transition: 1s;
}

.header > nav{
  text-decoration: none;
  padding-top: 4.5vh;
}

.header > nav > a {
  font-family: 'Asap', sans-serif;
  font-size: 2vw;
  color: white;
  background: black;
  padding-left: 0.5vw;
  padding-right:0.5vw;
  text-decoration: none;
  transition: 0.4s;
}

.header > nav > a:hover{
  color: black;
  background: white;
  transition: 0.7s;
}

.header > h1{
  font-family: 'Asap', sans-serif;
  font-weight: 500;
  font-size: 3vw;
  text-align: center;
  color: white;
  margin-top: 1vw;
  margin-bottom: 1vw;
  transition: 0.4s;
}
/* These bascially are styling my facts so that they are spaced out, and make the image big. */
.facts > .fact1{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facts > .fact1 > p{
  font-family: 'Asap', sans-serif;
  color: white;
  font-size: 2vw;
  padding-left: 12vw;
  padding-right: 18vw;
}

.facts > .fact1 > img{
  right: 10vw;
  width: 25%;
  justify-content: center;
  align-items: center;
}

.facts > .fact2{
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facts > .fact2 > p{
  font-family: 'Asap', sans-serif;
  text-align: right;
  font-size: 2vw;
  padding-right: 12vw;
  padding-left: 18vw;
}

.facts > .fact2 > img{
  width:25%;
  justify-content: center;
  align-items: center;
}

.facts > .fact3{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facts > .fact3 > p{
  font-family: 'Asap', sans-serif;
  color: white;
  font-size: 2vw;
  padding-left: 12vw;
  padding-right: 18vw;
}

.facts > .fact3 > img{
  right: 10vw;
  width: 25%;
  justify-content: center;
  align-items: center;
}


.footer{
  background: black;
  width: 100%;
  height: 50%;
  flex-grow: 1;
  align-items: stretch;
}

.footer> p{
  color: white;
  font-family: 'Asap', sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 1.35vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  transition: 0.4s;
}

.footer > p > a{
  color: cyan;
  text-decoration: none;
}

.footer > p > a:hover{
  background:#666;
  transition: 0.4s;
  border: 0.25vw;
}


@media (max-width: 480px) {

body{
  padding: 0;
}

.logo{
  height: 14vw;
  width: 14vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header > nav{
  text-align: center;
  display: inline-block;
  padding-left: 3%;
  padding-top: 2vw;
}

.header > nav > a{
  font-size: 6vw;
}

.header > h1 {
  text-align: center;
  font-size: 5vw;
  padding-top: 1.5vh;
}

.facts > .fact1{
  height: 25vh;
}

.facts > .fact1 > img{
  height: 100%;
  width: auto;
}

.facts > .fact1 > p{
  font-size: 5vw;
}

.facts > .fact2{
  height: 25vh;
}

.facts > .fact2 > img{
  height: 100%;
  width: auto;
}

.facts > .fact2 > p{
  font-size: 5vw;
}

.facts > .fact3{
  height: 25vh;
}

.facts > .fact3 > img{
  height: 100%;
  width: auto;
}

.facts > .fact3 > p{
  font-size: 4.5vw;
}

.footer > p{
  font-size: 3.5vw;
}

}

@media (min-width: 481px) {

  .header{
    padding-bottom: 5vh;
  }

  .header > .logo{
    height: 8vw;
    width: 8vw;
    padding-left:1vw;
  }

  .header > nav {
    float: right;
    text-decoration: none;
    padding-top: 4.5vh;
    padding-right: 1vw;
  }

}
